.rounded-card {
  border-radius: 5px;
}

.background{
  background: linear-gradient(0.25turn, rgb(160, 146, 196), rgb(118, 108, 214), #2933DD);
}

.pointer {
  cursor: pointer;
}

[data-dz-thumbnail] {
  object-fit: cover!important;
}